<html>
<head>
    <style>
        .btn-info {
            border-radius :25px !important;
        }
        .head {
            text-align: center;
        }
        .c3-title {
            font: 19px sans-serif !important;
        }
        a {
            color: white !important;
        }


    </style>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.23/c3.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>


    <!--<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>-->
    <!--<script src="../static/lib/js/d3.min.js" charset="utf-8"></script>-->
    <!--<script src="../static/lib/js/c3.min.js"></script>-->

    <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.min.js' charset="utf-8"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/c3/0.6.7/c3.min.js'></script>


    <script src="../../../static/lib/js/jquery.min.js"></script>

</head>
<body>

<div class="head">
    <h1>Animworkprint Schedule</h1>
</div>

<br>
<div class="center-block text-center">
    <h3>Choose Episode</h3>
    <div id="test"></div>
</div>
<br>

<div id="chart"></div>


</body>
<script type="text/javascript" src="../../../static/js/MN_animworkprint_graph.js">


</script>
</html>