<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <style>

        .outer {
            text-align:center;
            margin: 20px;
        }
    </style>
</head>
<body>
<div class="outer">
    <div class="btn-group" role="group" aria-label="Basic example">
        <a href="mn107/retakesperep">
            <button type="button" class="btn btn-primary">Retakes Per Episode</button>
        </a>
        <a href="mn107/retakesperuser?user=">
            <button type="button" class="btn btn-primary">Retakes Per User and Episode</button>
        </a>
        <a href="animworkprint/mn107/112">
            <button type="button" class="btn btn-primary">Animworkprint Schedule</button>
        </a>
    </div>
</div>
</body>
</html>